#titulo { -fx-font-family: "Berlin Sans FB";
    -fx-font-style: italic;
    -fx-font-size: 36px;
    -fx-text-fill: #FFFFFF;
}
#Fondo { -fx-background-color: #660099; }
#imagen { -fx-image: #5565734; }
.button{ -fx-background-color: #02CF08;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-text-fill: #FFCC00;
    -fx-font-family: "Comic Sans MS";
    -fx-font-style: italic;
    -fx-font-size: 28px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}
#autor { -fx-font-family: "Berlin Sans FB";
    -fx-text-fill: #0097D7;
    -fx-font-size: 12px;
}
.button:hover { -fx-background-color: #333333;
    -fx-font-size: 22px;
}
.button:pressed { -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}